- @brands = [['2XU', 'ツータイムズユー', '2xu'], ['adidas TECHFIT', 'アディダステックフィット', 'adidas'], ['C3fit', 'シースリーフィット', 'c3fit'], ['CW-X', 'シーダブリューエックス', 'cwx'], ['NIKE PRO', 'ナイキ プロ', 'nike'], ['Reebok RAIKAN', 'リーボック タイカン', 'reebok'], ['SKINS', 'スキンズ', 'skins'], ['VENEX', 'ベネクス', 'venex'], ['UNDER ARMOUR', 'アンダーアーマー', 'under'], ['mizuno BIO GEAR', 'ミズノ バイオギア', 'mizuno']]
- @tutorials = [['コンプレッションウェアとは？', '高機能インナーとは、着用するだけで保温・冷感・筋肉や体幹のサポート・姿勢矯正…', '#'], ['高機能インナーとは？', '高機能インナーとは、着用するだけで保温・冷感・筋肉や体幹のサポート・姿勢矯正…', '#'], ['トレーニングウェアの選び方', 'トレーニングをする際、ウェアの選び方によってトレーニング効果も変わってきます…', '#'], ['フィットネスウェアの選び方', 'ジムでの運動や筋トレ、ジョギングなど、フィットネスをする際に着るウェアによりその効果が…', '#']]
- @guides = ['コンプレッションインナーとは？', '高機能インナーとは？', 'リカバリーウェアとは？', 'トレーニングウェアの選び方', 'フィットネスウェアの選び方']
