.pageHeader{
  padding-bottom: 5px;
  margin-bottom: 20px;
  background-color: #414141;
  &__content{
    width: 880px;
    padding: 3px 0 3px 70px;
    margin: 0 auto;
    border-bottom: 1px solid #FFF;
    background: image_url("header-bg-icon.gif") no-repeat center left;
    h1{
      margin-bottom: 10px;
    }
    p{
      font-size: 12px;
      color: #808080;
    }
  }
}
