.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  &__main{
    width: 660px;
    order: 2;
  }
  &__sub{
    width: 240px;
    order: 1;
  }
}

.compareWears{
  &__title{
    border-bottom: 2px solid #DCDCDC;
    margin-bottom: 10px;
    h2{
      margin: 20px 0 10px 0;
      font-size: 20px;
      font-weight: bold;
    }
  }
  &__detail{
    .brandCollection{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &__brands{
        text-align: center;
        margin-bottom: 10px;
        a{
          display: block;
          font-size: 10px;
          color: #000;
          text-decoration: none;
          img{
            display: block;
            margin-bottom: 5px;
          }
          span{
            display: block;
          }
        }
      }
    }
  }
}

.articles{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  dl{
    width: 300px;
    padding: 5px 10px;
    margin: 5px 0 10px 0;
    border: 1px solid #DCDCDC;
    dt{
      padding: 5px 0;
      font-size: 14px;
      border-bottom: 1px solid #DCDCDC;
    }
    @for $num from 1 through 4{
      &:nth-child(#{$num}){
        dd{
          margin: 0;
          padding: 10px 120px 10px 0;
          background-image: image_url('bg_0#{$num}.jpg');
          background-repeat: no-repeat;
          background-position: center right;
          background-size: 90px 90px;
          font-size: 12px;
          a{
            display: block;
            background: image_url('icon01.gif') no-repeat center left;
            padding-left: 20px;
            margin-top: 10px;
          }
        }
      }
    }
  }
}

.imageAdvertisement{
  margin-bottom: 15px;
}

.brandList{
  &__title{
    margin-bottom: 5px;
  }
  &__brands{
    ul{
      margin-bottom: 20px;
      padding: 0;
      li{
        margin-bottom: 5px;
        list-style: none;
        border-bottom: 1px solid #DCDCDC;
        a{
          display: flex;
          flex-wrap: wrap;
          color: #000;
          text-decoration: none;
          span{
            &.icon{
              width: 60px;
            }
            &.name{
              .english{
                display: block;
                margin-bottom: 0px;
                font-size: 12px;
              }
              .japanese{
                font-size: 10px;
                color: #808080;
              }
            }
          }
        }
      }
    }
  }
}
.wearGuide{
  &__title{
    margin-bottom: 5px;
  }
  &__content{
    ul{
      padding-left: 10px;
      margin-bottom: 20px;
      list-style: none;
      li{
        font-size: 12px;
        border-bottom: 1px dotted #DCDCDC;
        a{
          display: block;
          padding: 15px 0 15px 20px;
          background: image_url('icon01.gif') no-repeat center left;
          color: #000;
          text-decoration: none;
        }
      }
    }
  }
}
